.banner-container{
    height: 1000px;
    overflow: hidden;
    background-image: url("/img/banner.jpg");
    background-position: center; 
    background-position: 32% 35%;
}

/*Login*/
.login-container{
    padding: 20px 20px 10px 20px;
    background: rgba(255, 255, 255, 0.82);
    position: absolute;
    width: 350px;
    right: 150px;
    top: 150px;
}

.login-container label{
    font-weight: bold;
    margin-bottom: 5px;
}

.login-container .form-group{
    margin-bottom: 30px;
}

.login-container .submit-container{
    padding: 0 20px 0 20px;
}

.login-container .submit-container .btn{
    border-radius: 0;
    height: 55px;
}

.login-container .form-control{
    background: transparent;
    border: none;
    border-bottom: 1px #c1c1c1 solid;
    border-radius: 0;
    padding-left: 0;
}



.login-title{
    margin-bottom: 20px;
    text-align: center;
}


/*END Login*/


/*Course*/
.courses-container{
    padding: 40px 0px 80px 0px;
    background: #f1f1f1
}
.courses-container .course-header-container{
    margin-bottom: 40px;
}
.courses-container .course-item{
    background: #fff;
    margin: 0 10px 0 10px;
    padding: 15px;
}

.courses-container .course-item:first-child,.courses-container .course-item:last-child{
    margin: 0;
}


.courses-container .learn-more-container{
    padding: 0 20px 0 20px;
}

.courses-container .learn-more-container .btn{
    border-radius: 0;
}
.courses-container .course-item{
    word-break: break-all;
}
/*End Course*/

/*About Us*/
.about-us-container{
    padding: 40px 0 40px 0;
}

.about-us-container .about-us-title-container{
    margin-bottom: 40px;
}

.about-us-container .about-us-description{
    word-break: break-all;
}
/*About Us*/

/* Newsletter */
.news-letter-container{
    background: #eae4cf;
    padding: 50px 0 50px 0;
}

.news-letter-container .social-icons-container{
    padding: 0;
}

.news-letter-container .news-letter-form-container{
    padding: 0
}

.news-letter-form-container .news-letter-input{
    margin-right: 5px;
}

.news-letter-form-container input, .news-letter-form-container .btn{
    height: 50px;
}

.news-letter-container .form-group{
    margin: 0;
}

.news-letter-container .social-icon-item{
    width: 60px;
}

.sign-up-btn{
    background: #ffa200;
    border: 0;
    border-radius: 0;
}

.sign-up-btn:hover{
    background: #cf8300;
}


/* End Newsletter */

body{
    margin: 0;
}